button{
    background-color: rgb(120, 153, 197); /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 5px 10px;
    font-size: 12px;
    border-radius: 12px;
}
button:hover {
    background-color: rgb(124, 183, 211);; /* Green */
    color: white;
}

#listElement{
    background-color: rgb(181, 211, 209);
    margin: 1em;
    padding: 1em;
    outline-width: 1px;
    outline-style: auto;
    outline-color: rgb(181, 211, 209)
}
#postCreation{
    background-color:  rgb(152, 177, 175);
    font-size: 18px;
}
#postTitle{
    font-size: 15px;
}
#listElement:hover{
    outline-color: red;
    background-color:rgb(209, 245, 242);
}