button{
    background-color: rgb(74, 147, 243); /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 5px 10px;
    font-size: 12px;
    border-radius: 12px;
}
button:hover {
    background-color: rgb(74, 190, 243);; /* Green */
    color: white;
  }