#listComponent{
    width:30%;
    display: block;
    border-width: 1px;
    border-color: grey;
    outline-width: 1px;
    outline-color: grey;
    outline-style: auto;
    float:left;
    margin-right: 10%;

}
#routerComponent{
    width: 50%;
    display:block;
    margin-top: 1%;
}