#wrapper{
    display:flex;
}
#listComponent{
    width:30%;
    display: block;
    border-width: 1px;
    border-color: grey;
    outline-width: 1px;
    outline-color: grey;
    outline-style: auto;
    margin-right: 5%;
    flex: 0 0 30%;

}
#routerComponent{
    width: 30%;
    display:block;
    flex:1;
    outline-width:1px;
    outline-color: grey;
    outline-style: auto;
    padding-left: 1%;
}